@font-face {
  font-family: NationalPark;
  src: url(Assets/UI/NationalPark-VariableFont_wght.ttf);
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: NationalPark, sans-serif;

  --color-food:  #663659;
  --color-rock:  #B76B37;
  --color-eumling: #107BA0;
  --color-settings: #294860;
  --color-off-white: #F9ECD7;
}

.no-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  color: inherit;
  appearance: none;
  cursor: pointer;
}
.no-button:disabled {
  cursor: not-allowed;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
}

div.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

div.overlay>* {
  pointer-events: all;
}

.menu {
  display: grid;
  place-items: center;
  margin-bottom: 3vh;
}
.menu.bottom {
  align-items: end;
}
.menu > div {
  border-image-source: url("Assets/UI/window_background.svg");
  border-image-slice: 14% 8% fill;
  border-image-repeat: stretch;
  border-image-width: 4em;
  /* border-image-outset: 4em; */
  /* background-image: url("Assets/UI/window_background.svg");
  background-size: 100% 100%; */
  padding: 2rem;
  position: relative;
}

.bg {
  background-color: var(--color-off-white);
}

.hidden {
  display: none;
}

#click-start {
  background-color: var(--color-off-white);
  z-index: 10000;
  display: grid;
  place-items: center;
  color: var(--color-eumling);
  font-size: min(12vh, 5vw);
  font-weight: bold;
}
#click-start > * {
  pointer-events: none;
}

.wiggle {
  animation: wiggle 2.5s infinite ease;
}
@keyframes wiggle {
  0% {transform: rotate(0deg);}
  90% {transform: rotate(0deg);scale: 1;}
  93% {transform: rotate(5deg);scale: 1.1;}
  96% {transform: rotate(-5deg);scale: 1.1;}
  100% {transform: rotate(0deg);scale: 1;}
}

#resources {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
#resource-food-wrapper,
#resource-stone-wrapper {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  padding: 0.75em 1em 0.5em 3em;
  font-weight: 800;
  font-size: 2em;
  text-align: center;
}
#resource-food-wrapper {
  background-image: url("Assets/UI/food_bar.svg");
  color: var(--color-food);
}
#resource-stone-wrapper {
  background-image: url("Assets/UI/stone_bar.svg");
  color: var(--color-rock);
}

.image-icon {
  aspect-ratio: 1;
  min-height: 1em;
}
.h,
.popover-title {
  text-align: center;
  --underline-size: 0.25em;
  padding-bottom: var(--underline-size);
}
.h > span,
.popover-title > span {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  position: relative;
}
.h > span::after,
.popover-title > span::after {
  content: " ";
  width: 100%;
  background: url("Assets/UI/underline_text.svg") no-repeat center center;
  background-size: 100% 100%;
  height: var(--underline-size);
  position: absolute;
  left: 0;
  bottom: calc(-0.0 * var(--underline-size));
}

#build-and-eumling {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 10em;
}

#eumling-btn {
  background-image: url("Assets/UI/eumlinge_button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
#eumling-amt-in-btn {
  position: absolute;
  top: 0.25em;
  right: -0.25em;
  height: 1.5em;
  padding: 0 0.25em;
  /* aspect-ratio: 1; */
  border-image-source: url("Assets/UI/eumlinge_numbers.svg");
  border-image-slice: 49% 49% 49% 49% fill;
  border-image-repeat: stretch;
  border-image-width: 1em;
  display: grid;
  place-items: center;
  color: var(--color-eumling);
  font-weight: 800;
  font-size: 1.5rem;
}
#eumling-plus {
  background-image: url("Assets/UI/eumlinge_button_plus.svg");
  background-size: contain;
  width: 25%;
  height: 25%;
  margin-bottom: -15%;
}
#eumling-btn > .build-cost {
  bottom: -0.5em;
  display: flex;
  justify-content: center;
  padding: auto;
}
#build-btn {
  background-image: url("Assets/UI/buildings_button.svg");
  aspect-ratio: 1;
}

button.close {
  position: absolute;
  --size: 4rem;
  top: calc(-0.25 * var(--size));
  right: calc(-0.25 * var(--size));
  background-image: url("Assets/UI/close_button.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  width: var(--size);
}

#job-menu,
#build-menu,
#settings-menu {
  color: var(--color-off-white);
}
#job-wrapper,
#build-menu-buildings {
  display: flex;
  flex-direction: row;
  gap: 3em;
}
button.build {
  display: flex;
  flex-direction: column;
  width: 10em;
  text-align: center;
}
.job-name,
.build-name {
  font-size: 1.5em;
  font-weight: bold;
}
.build-cost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  font-weight: bold;
}
.build-cost-stone,
.build-cost-food {
  height: 2em;
  padding: 1em 0.5em 0em 2em;
}

#eumling-btn:disabled > #eumling-plus,
.cannot-afford {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.build-cost-food {
background: url("Assets/UI/food_bar.svg") no-repeat center center;
color: var(--color-food);
}
.build-cost-stone {
background: url("Assets/UI/stone_bar.svg") no-repeat center center;
color: var(--color-rock);
}
.job-description,
.build-description {
  font-size: 1.25em;
  font-weight: 600;
}

.job-button {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.job-image {
  aspect-ratio: 1;
  min-width: 5em;
}

#settings-button {
  position: absolute;
  top: 0;
  right: 0;
}
#settings-btn {
  background-image: url("Assets/UI/settings.svg");
  aspect-ratio: 1;
  width: 10em;
}

.settings-wrapper {
  user-select: none;
  font-weight: bold;
}
.settings-category-name {
  font-size: 2.5em;
  display: block;
  text-align: center;
}
.settings-number-wrapper {
  display: grid;
  grid-template-areas: "title title title title title" ". minus number plus .";
  justify-content: center;
}
.settings-number-label {
  grid-area: title;
  font-size: 2em;
}
.settings-number-input-button {
  width: 3em;
  aspect-ratio: 1;
  content-visibility: hidden;
  border: none;
  padding: 0;
  margin: 0 1em;
  cursor: pointer;
}

.settings-number-input-button.minus {
  grid-area: minus;
  background: url("Assets/UI/minus_button.svg") center center no-repeat;
}
.settings-number-input-button.plus {
  grid-area: plus;
  background: url("Assets/UI/plus_button.svg") center center no-repeat;
}

input.settings-number-input.number-input {
  grid-area: number;
  font: inherit;
  font-size: inherit;
  
  appearance: textfield;
  
  background-image: url("Assets/UI/sounds_bar.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 1em 0 0.5em 3.25em;
  
  border: none;
  outline: none;
  
  font-weight: bold;
  color: var(--color-settings);
}
input.settings-number-input.number-input::-webkit-outer-spin-button,
input.settings-number-input.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.musik > input.settings-number-input.number-input {
  background-image: url("Assets/UI/music_bar.svg");
}